body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav button {
    margin-top: 5px;
    width: 100%;
    height: 43px;
    background-color: #222;
    color: #eeeeee;
    font-size: 23px;
    border: none;
    transition: 0.3s;
}

.sidenav button:hover {
    background-color: #222222;
}

#nickname {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 170px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

#profile,#selectedpack {
    text-align: center
}

#profileimg,#modpackimg {
    height: 75%;
    width: 75%;
    align-self: center;
}

#packname,#nickname {
    font-size: 100%;
}

#selectedpack {
    word-break: keep-all;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: calc(170px - 20px);
    background-color: #333333;
    text-decoration: none;
    color: #818181;
    display: block;
    font-weight: bold;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 0px;}
    .sidenav a {font-size: 18px;}
}

#footer {
    position: fixed;
    z-index: 0;
    margin-left: 170px;
    background-color: #111;
    bottom: 0;
    left: 0;
    height: 40px;
    width: calc(100% - 170px);

}
